@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body {
	background: #303C74;
	display: block;
	margin: 100px 0px 0px 0px;
	padding-top: 25px;
	width: 100%;
}

header {
	background: #07103A;
	height: 100px;
	color: #AA8939;
	top: 0;
	width: 100%;
}

h1 {
	font-family: "Josefin Slab";
	font-size: 70px;
	font-weight: bold;
}

h2 {
	font-family: "Josefin Slab";
	font-size: 50px;
	font-weight: bold;
	margin-top: 0px;
	/*color: #AA8939;*/
}

#left-content {
	padding-left: 16px;
	font-family: "Josefin Slab";
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

#left-content ol {
	font-family: "Josefin Slab";
	color: #AA8939;
	font-size: 20px;
	font-weight: bold;
}

#right-content {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

#canvas {
	background: #FFFFFF;
	border: 1px solid black;
	margin: 0px auto;
	padding: 0px auto;
}

.button-bar {
	width: 100%;
	margin: 25px auto;
	justify-content: center;
}

.btn-custom {
	width: 240px;
	margin: 5px;
}

.btn-custom-green {
	background: #2C8437;
	color: #84C68C;
}

.btn-custom-green:hover {
	background: #105D2A;
	color: #84C68C;
}

.btn-custom-orange {
	background: #AA8939;
	color: #FFE6AA;
}

.btn-custom-orange:hover {
	background: #806015;
	color: #FFE6AA;
}

#scoreBox{
	font-size: 20px;
	color: white;
}

#level{
	display: inline-block;
	float: right;
	font-size: 30px;
}
